/* You can add global styles to this file, and also import other style files */
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.transparent {
  background-color: rgba(300, 300, 300, 0.75);
  padding: 1%;
  margin-top: 1%;
  border-radius: 5px;
}

.star {
  color: #ffc145 !important;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #b8b8d1;
}
.pencil {
  color: #5b5f97;
}
.plus {
  color: #e56b6f;
}

.trash {
  color: #7c0b2b;
}
tr:hover {
  background: rgb(255, 255, 255, 0.75);
  z-index: 1;
  -webkit-box-shadow: 1px 1px 30px 4px rgba(97, 97, 97, 0.53);
  box-shadow: 1px 1px 30px 4px rgba(97, 97, 97, 0.53);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
