<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-success">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Plan New Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Equipments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CheckList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Login</a></li>
                    <li><a class="dropdown-item" href="#">Register</a></li>
                    </ul>
            </li>
            </ul>
        </div>
        </nav>
</div>
<app-search-trail></app-search-trail>