<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Activities</h1>
    </div>
</div>
<div class="container transparent">
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Notes</th>
            <th>Trail Name</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let activity of activities;">
                <td id="prop">{{activity.name}}</td>
                <td>{{activity.notes}}</td>
                <td>{{activity.trailHead}}</td>
                <td><i class="fa fa-trash trash" (click)='DeleteActivity(activity.id, activity.name)' aria-hidden="true"></i> | <button class="btn btn-success" (click)="GoToTrips(activity.id)">Trips</button></td>
            </tr>
        </tbody>
    </table>
</div>
