<div class="container-fluid">
<div class="row mt-2">
    <div class="col-md-4 border">
        <div class="container">
            <form class="form-horizontal mt-2" action="">
                <div class="form-group">
                    <label class="sr-only" for="pwd">Password:</label>
                    <input type="text" class="search-trail-input form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <button type="submit" class="btn btn-success search-trail-btn">Submit</button>
                </form>
        </div>
        <div class="mt-2"><h3>This box is for Search trail area</h3></div>
    </div>
    <div class="col-md-8 border">
        <h3>This box is for map</h3>
    </div>
</div>
</div>