<div class="container transparent">
    <h4>{{trail.name}}</h4>
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
        <div class="form-group">
            <label for="name">Name your Activity: </label>
            <input type="text" class="form-control" [(ngModel)]="newActivity.name" #name="ngModel" name="name"
                placeholder="Enter the Activity name">
        </div>
        <div class="form-group mt-2">
            <label for="description">Any Notes for your Activity: </label>
            <input type="text" class="form-control" [(ngModel)]="newActivity.notes" #name="ngModel" name="description"
                placeholder="Enter Notes">
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Add Activity</button>
        </div>
    </form>
    <div #activityMapDiv class="map"></div>
</div>
