<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-success top-header-menu">
        <a class="navbar-brand" href="/profile">
            <img src="../../assets/hike-logo11.png" class="app-logo" alt="Hiking Planner App Logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 custom-navbar-left">
            <li class="nav-item">
                <a class="nav-link" href="/trail">Plan Activity</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/activities">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="getcreatortrips">Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/equipments">Equipments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="checklists">CheckList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
        </ul>
        <app-auth-button></app-auth-button>
        </div>
        </nav>
</div>
