
  <div class="container transparent checklist">
    <h5>Checklist &nbsp;
      <i class="fa fa-plus-square-o plus" aria-hidden="true" (click)="GoToAdd()"></i>
    </h5>
      <table class="table">
          <thead>
              <th>Name</th>
              <th>Creator</th>
              <th>Actions</th>
          </thead>
          <tbody>
              <tr *ngFor="let checklist of checklists;">
                  <td>{{checklist.name}}</td>
                  <td>{{checklist.creator}}</td>
                  <td>
                    <i class="fa fa-trash trash" aria-hidden="true"
                      (click)='DeleteChecklist(checklist.id, checklist.name)'>
                    </i>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"
                      (click)="GoToItem(checklist.id)">
                    </i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

