<div class="container transparent">
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
        <div class="form-group">
            <!-- <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="tripDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="tripDateRange.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="tripDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field> -->
        </div>
        <div class="form-group">
            <label for="name">Add Trip Distance: </label>
            <input type="number" class="form-control" [(ngModel)]="newTrip.distance" #name="ngModel" name="distance"
                placeholder="Add Trip Distance">
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Add Trip</button>
        </div>
    </form>
</div>
