<div class="container transparent">
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate [(ngModel)]="tripDateRange.start" #name="ngModel" name="start" placeholder="Start date">
                    <input matEndDate [(ngModel)]="tripDateRange.end" #name="ngModel" name="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="tripDateRange.start > tripDateRange.end">Invalid date range</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="name">Add Trip Distance: </label>
            <input type="number" class="form-control" [(ngModel)]="newTrip.distance" #name="ngModel" name="distance"
                placeholder="Add Trip Distance">
        </div>
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Add Trip</button>
        </div>
    </form>
</div>
