<body>
  <div class="container transparent">
      <br/>
      <h4> {{target.name}} Checklist</h4>
         <div *ngIf="!target.checklistItems else noItems;">

          <table class="table">

              <thead>>
                  <th>Quantity</th>
              </thead>
              <tbody>

                  <tr *ngFor="let item of target.checklistItems;">
                      <td>{{item.quantity}}</td>
                  </tr>
              </tbody>
          </table>

        </div>
      <ng-template #noItems>
          <br/>
          <h4>Add Item  <i class="fa fa-plus-square-o plus" aria-hidden="true"
            (click)="SelectItem(target.id)"></i>
          </h4>
      </ng-template>

  </div>
</body>
