<div class="checklist">
  <div class="container transparent">
      <br/>
      <h4> {{target.name}} Checklist</h4>

         <div *ngIf="isShow else noItems;">
          <table class="table">
              <thead>
                  <th>Equipment</th>
                  <th>Description</th>
                  <th>Quantity</th>
              </thead>
              <tbody>
                  <tr *ngFor="let item of target.checklistItems;">
                      <td>{{item.equipment?.name}}</td>
                      <td>{{item.equipment?.description}}</td>
                      <td>{{item.quantity}}</td>
                      <td>
                        <i class="fa fa-trash trash" aria-hidden="true"
                          (click)='DeleteChecklist(item.id, item.checklistId)'>
                        </i>
                    </td>
                  </tr>
              </tbody>
          </table>
        </div>

      <div>
        <ng-template #noItems>
            <br/>
            <h4>Add Item  <i class="fa fa-plus-square-o plus" aria-hidden="true"
              (click)="SelectItem(target.id)"></i>
            </h4>
        </ng-template>
      </div>

      <div>
        <h2>
          <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)='GoToAll()'></i>
        </h2>
      </div>
  </div>
</div>