<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Trip Details</h1>
    </div>
</div>
<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-md-6 map-container p-0">
            <div #activityMapDiv class="map"></div>
        </div>
        <div class="col-md-6 p-0 list-wrapper">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item" *ngIf="checklist.id > 0 && checklist?.checklistItems != null else checklistItemNull">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          {{checklist.name}}
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <table>
                          <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                          </thead>
                        <tbody *ngFor="let item1 of checklist?.checklistItems">
                          <tr>
                            <td>{{item1.equipment?.name}}</td>
                            <td>{{item1.equipment?.description}}</td>
                            <td>{{item1.quantity}}</td>
                          </tr>
                            
                          </tbody>
                        </table>
                      </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Participants
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <table class="table" *ngIf="participantsInfo.length > 0">
                    <thead>
                      <th>Name</th>
                      <th>Invitation Accepted</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of participantsInfo">
                        <td>{{person.user.name}}</td>
                        <td>{{person.accept}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div>
                    <div class="container"><h6>Invite New User</h6></div>
                    <div class="d-flex flex-row justify-content-between" *ngIf="currentUserId == activityDetail.creator">
                      <div class="col-md-10">
                        <input class="form-control mr-2" type="text" #name="ngModel" [(ngModel)]="emailToSearch">
                      </div>
                      <button class="btn btn-primary" (click)="SearchUserByEmail()">Search</button>
                    </div>
                  </div>
                  <div class="container" *ngIf="foundUser != null && !foundUser?.exists">
                    <dt>Name</dt>
                    <dd>{{foundUser.name}}</dd>
                    <dt>Email</dt>
                    <dd>{{foundUser.email}}</dd>
                    <button class="btn btn-success" (click) ="InviteUser()" >
                      Invite
                    </button>
                  </div>
                </div>
              </div>
              </div>
              <ng-template #noItems>
                <br/>
                <h4 class="text-center">Please add some items to checklist</h4>
            </ng-template>
            <ng-template #checklistItemNull>
              <br/>
              <h4 class="text-center">It has no item</h4>
          </ng-template>
        </div>
    </div>
</div>

