<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About Us</h1>
    </div>
</div>
<div class="container mt-5 team-wrapper">
    <div class="row">
        <div class="col-md-6 text-wrapper">
            <h3>OUR  TEAM</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat similique nulla illo suscipit sequi voluptatibus magnam natus aperiam sint quae quisquam laboriosam, laborum quia voluptatum temporibus non necessitatibus odio dolorum.</p>
        </div>
        <div class="col-md-6 image-wrapper">
            <img src="../../assets/team2.png" alt="Our Team" class="img-team img-fluid">
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 image-wrapper p-0">
            <img src="../../assets/Hiking-app.png" alt="Our Team" class="img-fluid">
        </div>
        <div class="col-md-6 text-wrapper">
            <h3>OUR  APP</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat similique nulla illo suscipit sequi voluptatibus magnam natus aperiam sint quae quisquam laboriosam, laborum quia voluptatum temporibus non necessitatibus odio dolorum.</p>
        </div>
    </div>
</div>