<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About Us</h1>
    </div>
</div>
<div class="container mt-5 team-wrapper">
    <div class="row">
        <div class="col-md-6 text-wrapper">
            <h3>OUR  TEAM</h3>
            <ul>
                <li>Juniper Song</li>
                <li>Jia (Phoebe) Fang</li>
                <li>Sehar Malik</li>
            </ul>
        </div>
        <div class="col-md-6 image-wrapper">
            <img src="../../assets/team2.png" alt="Our Team" class="img-team img-fluid">
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-6 image-wrapper p-0">
            <img src="../../assets/Hiking-app.png" alt="Our Team" class="img-fluid">
        </div>
        <div class="col-md-6 text-wrapper">
            <h3>OUR  APP</h3>
            <p>The Hike Planner App is a web application that helps hikers and outdoor enthusiasts plan their next adventure. Discover and plan your next outdoor adventure all in one place with our application! You can also store your equipment and checklist for easy planning and view your trips afterwards. As the trip owner, you can invite other users to your adventure and create a memorable hiking experience with them!</p>
        </div>
    </div>
</div>