<body>
  <div class="container transparent">
      <form (ngSubmit)="onSubmit()" #equipmentForm="ngForm">
          <div class="form-group">
              <label for="name">Equipment Name: </label>
              <input type="text" class="form-control" [(ngModel)]="new.name" #name="ngModel" name="name"
                  placeholder="Enter the equipment name">
          </div>
          <div class="form-group">
              <label for="description">description: </label>
              <input type="text" class="form-control" [(ngModel)]="new.description" #name="ngModel" name="description"
                  placeholder="Enter description">
          </div>
          <div class="form-group">
              <br/>
              <button type="submit" class="btn btn-secondary">Add Equipment</button>
          </div>
      </form>
      <br/>
      <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)='GoToAll()'></i>
  </div>
</body>


