<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Trips</h1>
    </div>
</div>
<div class="container transparent" >
    <table class="table" *ngIf="trips.length > 0 else noTrips">
        <thead>
            <th>Trip Date Starts</th>
            <th>Trip Distance Planed</th>
            <th>Trip Destination</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let trip of trips;">
                <td>{{trip.startDate | date }}</td>
                <td>{{trip.distance}}</td>
                <td>{{trip.activities.trailHead}}</td>
                <td><i class="fa fa-trash trash" (click)='DeleteTrip(trip.id, trip.startDate)' aria-hidden="true"></i> | <a class="btn btn-success" (click)='TripDetails(trip.id, trip.activities.trailId, trip.activities.id)'>Go to Trip Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noTrips>
    <h6>Alas! This Activity has no trips, Please add one!</h6>
</ng-template>
