.jumbotron{
    background: url('../../../assets/trips-banner.jpg') no-repeat;
    background-size: cover;
    background-position: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 1px 10px #eb1c23;
    padding: 60px;
}
.container > h1{
    font-weight: 500;
}