.container-bg{
    background: url("../../assets/profile-bg.png") no-repeat;
    background-position: center center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}
.profile-picture{
    width: 100%;
}